{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-3">
            <fieldset>
                <legend>Custom form</legend>
                {{ form(form) }}
            </fieldset>
        </div>
    </div>
{% endblock body %}
