{% extends 'base.html.twig' %}

{% block body %}
    <fieldset>
        <legend>Custom form</legend>
        <p>
            <strong>Имя</strong>
            <span>{{ data.name }}</span>
        </p>
        <p>
            <strong>Возраст</strong>
            <span>{{ data.age }}</span>
        </p>
    </fieldset>
{% endblock body %}
