{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-4">
            <fieldset>
                <legend>Страховка</legend>
                {{ form(insurance_form) }}
            </fieldset>
        </div>
        <div class="col-4">
            <fieldset>
                <legend>Расписание</legend>
                {{ form(schedule_form) }}
            </fieldset>
        </div>
    </div>
{% endblock body %}
